In [159]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [161]:
#read data
sleep_data = pd.read_csv('/Users/ginabarbagallo/Downloads/workspace/sleep_health_data.csv')

sleep_data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [163]:
#missing values for sleep disorder 
sleep_data.isna()
sleep_data['Sleep Disorder'] = sleep_data['Sleep Disorder'].fillna(0)

sleep_data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,0
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,0
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,0
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [165]:
#variable for model
sleep_data['Disorder Binary'] = np.where(sleep_data['Sleep Disorder'] == 0, 0, 1)

In [167]:
#check for class imbalances 
class_counts = sleep_data['Disorder Binary'].value_counts()
print(class_counts)
#data is balanced from 1 and 0s

Disorder Binary
0    219
1    155
Name: count, dtype: int64

In [169]:
#one hot encoding for categorical variables
sleep_data['Gender'] = np.where(sleep_data['Gender'] == 'Male', 1, 0) #male is 0, female 1

#bmi categories
sleep_data['BMI Category'] = np.where(sleep_data['BMI Category'] == 'Normal', 1, sleep_data['BMI Category']) #normal is 1
sleep_data['BMI Category'] = np.where(sleep_data['BMI Category'] == 'Overweight', 2, sleep_data['BMI Category']) #overweight is 2
sleep_data['BMI Category'] = np.where(sleep_data['BMI Category'] == 'Obese', 3, sleep_data['BMI Category']) #obese is 3

#jobs
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Nurse', 1, sleep_data['Occupation']) #nurse is 1
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Doctor', 2, sleep_data['Occupation']) #doctor is 2
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Software Engineer', 3, sleep_data['Occupation']) #soft eng is 3
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Sales Representative', 4, sleep_data['Occupation']) #sales rep is 4
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Teacher', 5, sleep_data['Occupation']) #teacher is 5
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Accountant', 6, sleep_data['Occupation']) #accountant is 6
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Lawyer', 7, sleep_data['Occupation']) #lawyer is 7
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Scientist', 8, sleep_data['Occupation']) #scientist is 8
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Manager', 9, sleep_data['Occupation']) #manager is 9
sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Engineer', 10, sleep_data['Occupation']) #engineer is 10

sleep_data['Occupation'] = np.where(sleep_data['Occupation'] == 'Salesperson', 4, sleep_data['Occupation'])

In [171]:
sleep_data.head(10)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Disorder Binary
0,1,1,27,3,6.1,6,42,6,2,126/83,77,4200,0,0
1,2,1,28,2,6.2,6,60,8,1,125/80,75,10000,0,0
2,3,1,28,2,6.2,6,60,8,1,125/80,75,10000,0,0
3,4,1,28,4,5.9,4,30,8,3,140/90,85,3000,Sleep Apnea,1
4,5,1,28,4,5.9,4,30,8,3,140/90,85,3000,Sleep Apnea,1
5,6,1,28,3,5.9,4,30,8,3,140/90,85,3000,Insomnia,1
6,7,1,29,5,6.3,6,40,7,3,140/90,82,3500,Insomnia,1
7,8,1,29,2,7.8,7,75,6,1,120/80,70,8000,0,0
8,9,1,29,2,7.8,7,75,6,1,120/80,70,8000,0,0
9,10,1,29,2,7.8,7,75,6,1,120/80,70,8000,0,0

In [173]:
sleep_data.describe() #no outliers

,Person ID,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Disorder Binary
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,0.505348,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920,0.414439
std,108.108742,0.500641,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679,0.493285
min,1.000000,0.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000,0.000000
25%,94.250000,0.000000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000,0.000000
50%,187.500000,1.000000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000,0.000000
75%,280.750000,1.000000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000,1.000000
max,374.000000,1.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000,1.000000

In [175]:
sleep_data.info() #no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    int64
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
 13  Disorder Binary          374 non-null    int64
dtypes: float64(1), int64(9), object(4)
memory usage: 41.0+ KB

In [177]:
sleep_data.shape

(374, 14)

In [179]:
occupations = sleep_data['Occupation'].value_counts()
print(occupations)

#drop 3,8,9 not enough observations for each category
sleep_data = sleep_data[~sleep_data["Occupation"].isin([3, 8, 9])]

#check the drop was done correctly
occupations = sleep_data['Occupation'].value_counts()
print(occupations)

Occupation
1     73
2     71
10    63
7     47
5     40
6     37
4     34
3      4
8      4
9      1
Name: count, dtype: int64
Occupation
1     73
2     71
10    63
7     47
5     40
6     37
4     34
Name: count, dtype: int64

In [181]:
#check blood pressure categories
blood_pressures = sleep_data['Blood Pressure'].value_counts()
print(blood_pressures)

Blood Pressure
130/85    99
140/95    65
125/80    65
120/80    43
115/75    32
135/90    27
132/87     3
125/82     3
140/90     3
115/78     2
139/91     2
142/92     2
119/77     2
118/75     2
130/86     2
129/84     2
135/88     2
128/84     2
117/76     2
126/83     1
121/79     1
122/80     1
118/76     1
128/85     1
Name: count, dtype: int64

In [183]:
#splitting the blood pressures into two so that both are numeric and can be used in the RF model
# Split into systolic and diastolic
sleep_data[['systolic', 'diastolic']] = sleep_data['Blood Pressure'].str.split('/', expand=True)

# Convert to numeric
sleep_data['systolic'] = pd.to_numeric(sleep_data['systolic'])
sleep_data['diastolic'] = pd.to_numeric(sleep_data['diastolic'])

In [185]:
sleep_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365 entries, 1 to 373
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                365 non-null    int64
 1   Gender                   365 non-null    int64
 2   Age                      365 non-null    int64
 3   Occupation               365 non-null    object
 4   Sleep Duration           365 non-null    float64
 5   Quality of Sleep         365 non-null    int64
 6   Physical Activity Level  365 non-null    int64
 7   Stress Level             365 non-null    int64
 8   BMI Category             365 non-null    object
 9   Blood Pressure           365 non-null    object
 10  Heart Rate               365 non-null    int64
 11  Daily Steps              365 non-null    int64
 12  Sleep Disorder           365 non-null    object
 13  Disorder Binary          365 non-null    int64
 14  systolic                 365 non-null    int64
 15  diastolic                365 non-null    int64
dtypes: float64(1), int64(11), object(4)
memory usage: 48.5+ KB

In [187]:
sleep_data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Disorder Binary,systolic,diastolic
1,2,1,28,2,6.2,6,60,8,1,125/80,75,10000,0,0,125,80
2,3,1,28,2,6.2,6,60,8,1,125/80,75,10000,0,0,125,80
3,4,1,28,4,5.9,4,30,8,3,140/90,85,3000,Sleep Apnea,1,140,90
4,5,1,28,4,5.9,4,30,8,3,140/90,85,3000,Sleep Apnea,1,140,90
6,7,1,29,5,6.3,6,40,7,3,140/90,82,3500,Insomnia,1,140,90

In [189]:
#Drop blood pressure, drop sleep disorder 
sleep_data = sleep_data.drop(columns = ['Sleep Disorder'])
sleep_data = sleep_data.drop(columns = ['Blood Pressure'])
sleep_data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Disorder Binary,systolic,diastolic
1,2,1,28,2,6.2,6,60,8,1,75,10000,0,125,80
2,3,1,28,2,6.2,6,60,8,1,75,10000,0,125,80
3,4,1,28,4,5.9,4,30,8,3,85,3000,1,140,90
4,5,1,28,4,5.9,4,30,8,3,85,3000,1,140,90
6,7,1,29,5,6.3,6,40,7,3,82,3500,1,140,90

In [191]:
#turn occupation and bmi category to numeric 
sleep_data['Occupation'] = pd.to_numeric(sleep_data['Occupation'])
sleep_data['BMI Category'] = pd.to_numeric(sleep_data['BMI Category'])

In [193]:
#train - test split
y = sleep_data['Disorder Binary'] 

X = sleep_data.drop(columns = ['Disorder Binary', 'Person ID'])

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

#RANDOM FOREST MODEL
rf_sleep = RandomForestClassifier(n_estimators=100, random_state=42, max_depth=10)
rf_sleep.fit(X_train, y_train)
y_pred = rf_sleep.predict(X_test)

In [195]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

# Confusion Matrix
print(confusion_matrix(y_test, y_pred))

# Detailed Classification Report
print(classification_report(y_test, y_pred))

Accuracy: 0.9363636363636364
[[59  4]
 [ 3 44]]
              precision    recall  f1-score   support

           0       0.95      0.94      0.94        63
           1       0.92      0.94      0.93        47

    accuracy                           0.94       110
   macro avg       0.93      0.94      0.94       110
weighted avg       0.94      0.94      0.94       110

In [197]:
# Feature Importance
feature_importances = rf_sleep.feature_importances_

# Create a DataFrame with feature names and their importance
feature_df = pd.DataFrame({
    'Feature': X.columns,
    'Importance': feature_importances
})

# Sort the features by importance
feature_df = feature_df.sort_values(by='Importance', ascending=False)

# Display the feature importance
print(feature_df)

                    Feature  Importance
7              BMI Category    0.275153
10                 systolic    0.164011
11                diastolic    0.137543
3            Sleep Duration    0.115094
1                       Age    0.115009
2                Occupation    0.072770
8                Heart Rate    0.031603
9               Daily Steps    0.024255
4          Quality of Sleep    0.021827
6              Stress Level    0.017905
5   Physical Activity Level    0.015070
0                    Gender    0.009759